* {
  box-sizing: border-box;
}

h1,
h4,
p {
  margin: 0px;
}
header{
  border-bottom: 1px solid black;
  text-align: center;
  padding: 2%;
}
nav{
  padding: 2%;
  gap: 10px;
}
body {
  background-color: white;
  display: flex;
}
.container {
  color: #666666;
  font-family: "Lobster", cursive;
  margin: 20px auto;
  width: 90%;
}


main{
  border: 1px solid #aaaaaa;
  border-radius: 1em;
  height: 350px;
  padding: 1em;
  width: 45%;
  text-align: center;
  margin-left: 200PX;
  margin-bottom:10px;
}
main img{
  border-radius: 1em;
  height: 70%;
  width: 80%;
}
img{
  width: 50px;
} 

.articles{
  display: flex;
  justify-content: space-between;
  margin-left: 10%;
}
article{
  border: 1px solid #aaaaaa;
  border-radius: 1em;
  height: 300px;
  padding: 1em;
  width: 32%;
  text-align: center;
  margin-bottom: 20px;
}

.content_wrapper{
  display: flex;
  margin-top: 20px;
  
}

.content_wrapper article{
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  text-align: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  min-height: 350px;
  margin-left: 20px;
}

.articles img {
  width: 450px;
  height: 180px;
}

article  img {
  width: 500px;
  height: 200px;
  border-radius: 10px;
}

footer{
  border-top: 2px solid black;
  display: flex;  
}

.social{
 gap:10px;
}

.copyright{
  flex:1;
  text-align: center;
}